GOOGLE_API_KEY=
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36"
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
GITHUB_ACCESS_TOKEN=
OPENAI_API_KEY=